// @import 'app/xxx/style.scss';
@import 'app/components/layouts-panel-list/style.scss';
@import 'app/components/image-button-component/style.scss';
@import 'app/components/canvas-toolbar-panel/style.scss';
@import 'app/components/canvas-slide-panel-properties/style.scss';
