.slide-list{
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;

  width: 17%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;

  box-sizing: border-box;
  background-color: #d9d9d9;
}

.slide-unit{
  border: 1px solid transparent;
	padding: 10px;
  border-radius: 5px;
}

.slide-unit:hover{
  border: 1px solid;
	padding: 10px;
}

.slide-selected{
  border: 1px solid red;
	padding: 10px;
}

.wraper-add-button{
  text-align: center;
  margin-top: 20px;
}
