.slide-list{
  left: 0px;
  top: 0px;
  bottom: 0px;
  display: inline-block;

  width: 17%;
  display: inline-block;
  overflow-y: scroll;
  overflow-x: hidden;

  box-sizing: border-box;
  background-color: #d9d9d9;
}

.wraper-add-button{
  text-align: center;
  margin-top: 20px;
}
