{{#ember-dragula config=dragulaconfig drop='onDrop'}}
  {{#ember-dragula-container }}
    {{#each slides as |slideItem index|}}
      {{slide-single-component
        setIndex=index
        handleSlideClick=(action 'handleSlideClick' slideItem)
        handleSlideRemoveClick=(action 'removeSlide' slideItem) isSelected=slideItem.setSelection}}
    {{/each}}
  {{/ember-dragula-container }}
{{/ember-dragula }}
<div class="wraper-add-button">
{{image-button-component imgUrl = '../assets/slide/add.png' click =(action 'addEmptySlide')}}
</div>

{{yield}}
