{{yield}}
<span  class="id-slide" >{{plus-one setIndex}}</span>
{{image-button-component imgUrl = '../assets/slide/slide.png' click =(action 'handleSlideClick' slideSelected)}}
{{image-button-component imgUrl = '../assets/slide/remove.png' click =(action 'handleSlideRemoveClick')}}
